[submodule "CS161"]
	path = CS161
	url = git@github.com:jland13/CS161.git
[submodule "CS162"]
	path = CS162
	url = git@github.com:jland13/CS162
[submodule "CS201"]
	path = CS201
	url = git@github.com:jland13/CS201
[submodule "CS250"]
	path = CS250
	url = git@github.com:jland13/CS250
