[submodule "CS161"]
	path = CS161
	url = git@github.com:jland13/CS161.git
[submodule "CS162"]
	path = CS162
	url = git@github.com:jland13/CS162
[submodule "CS201"]
	path = CS201
	url = git@github.com:jland13/CS201
[submodule "CS250"]
	path = CS250
	url = git@github.com:jland13/CS250
[submodule "CS251"]
	path = CS251
	url = git@github.com:jland13/CS251
[submodule "CS260"]
	path = CS260
	url = git@github.com:jland13/CS260
[submodule "CS261"]
	path = CS261
	url = git@github.com:jland13/CS261
[submodule "CS305"]
	path = CS305
	url = git@github.com:jland13/CS305
[submodule "CS320"]
	path = CS320
	url = git@github.com:jland13/CS320
[submodule "CS333"]
	path = CS333
	url = git@github.com:jland13/CS333
